#container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
#main{
    margin: 0 auto;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}
h1{
    color: darkgreen;
}
a{
    text-decoration: none black;
}
button{
    border-radius: 10px;
    background-color: aquamarine;
}